.menu {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    max-height: 3rem;
    background-color: brown;
    color: white;
    border-radius: 500px;
    border: 1px solid brown;

    position: relative;
    z-index: 20;
}

.menu-item {
    position: absolute;
    top: 0px;
    left: -1px;
    z-index: 0;
    transition: top 0.1s ease-out;

    width: 3rem;
    height: 2.8rem;
    background-color: brown;
    color: white;
    border-radius: 500px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 0 .2rem;
    border: 1px solid brown;
    opacity: 0;
}

.menu-item:first-child {
    margin-top: 0;
}

.menu-open-button {
    position: relative;
    top: 0;
    z-index: 1;
}


.menu-open {
    position: absolute;
    opacity: 0;
    left: -4.5px;
    top: -4px;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.menu-line {
    position: absolute;
    background: white;
    display: block;
    width: 1rem;
    height: 1.5px;
    left: 1rem;
    position: relative;
    transition: all .1s ease-out;

}

.menu-line-1 {
    top: 1.15rem;
}

.menu-line-2 {
    top: 1.40rem;
}

.menu-line-3 {
    top: 1.65rem;
}



/* Hover nav button*/
.menu:hover {
    padding: .1rem;
    margin: .9rem;
}

.menu:hover .menu-line {
    width: 1.2rem;
    left: 0.9rem;
}

.menu:hover .menu-line-1 {
    top: 1.1rem;
}

.menu:hover .menu-line-3 {
    top: 1.7rem;
}

.menu-item:hover {
    color: brown;
    background-color: white;
}

.menu:hover .menu-item {
    left: .5px;
}


/* Menu open clicked */

.menu .menu-open:checked~.menu-item {
    opacity: 1;
}

.menu .menu-open:checked~.menu-item:nth-child(3) {
    top: 3.5rem;
}

.menu .menu-open:checked~.menu-item:nth-child(4) {
    top: calc(3.5rem * 2);
}

.menu .menu-open:checked~.menu-item:nth-child(5) {
    top: calc(3.5rem * 3);
}

.menu .menu-open:checked~.menu-item:nth-child(6) {
    top: calc(3.5rem * 4);
}

.menu .menu-open:checked~.menu-item:nth-child(7) {
    top: calc(3.5rem * 5);
}


.menu-open:checked~.menu-open-button .menu-line-1 {
    transform: rotate(45deg);
    top: 1.45rem;
}

.menu-open:checked~.menu-open-button .menu-line-2 {
    background: transparent;
}

.menu-open:checked~.menu-open-button .menu-line-3 {
    transform: rotate(-45deg);
    top: 1.25rem;
}

.menu:hover .menu-open:checked~.menu-open-button .menu-line-3 {
    top: 1.25rem;
}